#navbar{
    margin-top: 20px;   
    .navbar{
        background: transparent !important;
    }
    .navbar-brand{
        color: #000;
    }
    .dropdown-item{
        color: #000; 
        &:hover{
            background: transparent;
        }
    }
    .menu-item-extra-margin{
        .dropdown-item{
            margin-top: 7px;
        }
    }
}